body {
    font-family: sans-serif;
}
.container {
    width: 1280px;
    margin: 0 auto;
    padding-bottom: 38px;
}
h1 {
    font-size: 80px;
    line-height: 94px;
    color: black;
}
span {
    font-size: 80px;
    line-height: 94px;
    color: cornflowerblue;
}
.title{
    color: #FFF;
    text-decoration: none;
}
.aside-title {
    color: #485863;
    text-decoration: none;
}
.navigation-menu{
    display: flex;
    background: #35444F;
    justify-content: center;
}
.navigation-menu-item{
    padding: 23px 38px;
    display: inline-block;
    border-left: 1px solid white;
    font-size: 24px;
    line-height: 28px;
    transition: all 1s;
}
.navigation-menu-item:hover {
    background: #222F3A;
}
.footer{
    display: flex;
    background-color: rgba(99, 105, 110, 0.48);
    color: #010101;
    padding: 15px 40px;
}
.footer-title{
    color: #010101;
    text-decoration: none;
}
.footer-item{
    list-style-type: none;
    font-size: 28px;
    line-height: 28px;
    text-align: center;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
    transition: all 0.5s;
}
.footer-item:hover{
    background-color: rgb(110, 203, 219);
}
.footer-title-last{
    margin-left: auto;
    list-style-type: none;
    font-size: 28px;
    line-height: 28px;
    padding-right: 20px;
    padding-top: 8px;
    padding-bottom: 10px;
}
.last-title{
    color: #010101;
    text-decoration: none;
}
main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.image{
    text-align: center;
}
.info-text{
    font-size: 18px;
    line-height: 24px;
}
aside {
    width: 25%;
    display: flex;
    flex-direction: column;
    /* width: 344px;*/
    border: 1px solid black;
    font-size: 27px;
    line-height: 27px;
    /* height: 300px;*/
}
aside a {
    padding: 25px 0 25px 40px;
    transition: all 0.5s;
}
aside a:hover {
    background: #DBDBDB;
    padding-left: 70px;
}
.content {
    width: 885px;
    border: 1px solid black;
    height: 700px;
}